@font-face {
  font-family: "Cousine-Regular";
  src: url("../fonts/Cousine-Regular.ttf");
}
@font-face {
  font-family: "Cousine-Bold";
  src: url("../fonts/Cousine-Bold.ttf");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Cousine-Regular";
}
a,
a:visited {
  text-decoration: none;
  color: #1c1c1c;
}
.btn {
  font-family: "Cousine-Regular";
  font-size: 16px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: min-content;
  padding: 6px 8px;
  white-space: nowrap;
  width: min-content;
  user-select: none;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #838383;
  background: #0F7DFF;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.15);
  transition: transform 100ms ease, background 100ms ease, box-shadow 100ms ease;
  cursor: pointer;
}
.btn:hover {
  background: #0070f5;
}
.btn:active {
  box-shadow: none;
  transform: translateY(10%);
}
.btn:visited {
  color: white;
}
.btn__span {
  vertical-align: middle;
  font-size: 25px;
  margin-right: 5px;
}
.btn.disabled {
  background-color: #f5f5f5;
  color: #838383;
  box-shadow: none;
  transform: translateY(10%);
  cursor: default;
}
.btn.danger {
  background-color: #c5113e;
  color: white;
}
.btn.danger:hover {
  background: #ae0f37;
}
.btn.danger.disabled {
  background-color: #f5f5f5;
  color: #838383;
  box-shadow: none;
  transform: translateY(10%);
  cursor: default;
}
.btn.success {
  background: #4ac226;
  color: white;
}
.btn.success:hover {
  background: #42ad22;
}
.btn.success.disabled {
  background-color: #f5f5f5;
  color: #838383;
  box-shadow: none;
  transform: translateY(10%);
  cursor: default;
}
.header {
  max-width: 1144px;
  min-height: 100px;
  padding-top: 30px;
  margin: auto;
  display: flex;
  justify-content: end;
}
.header__links {
  margin-top: 10px;
  font-size: 15px;
}
.header__links__link + .header__links__link {
  margin-left: 10px;
}
.header__links__link.danger {
  color: #c5113e;
}
.header__title {
  font-size: 35px;
  font-family: "Consolas";
  display: flex;
  flex-flow: row nowrap;
  justify-content: end;
  position: relative;
  margin-right: 40px;
}
.header__title:after {
  content: '';
  position: absolute;
  width: 30px;
  height: 4px;
  background-color: #1c1c1c;
  bottom: 0px;
  right: -39px;
  animation: 2s linear 0s infinite ConsoleCursor;
}
.header__subtitles {
  display: flex;
  flex-flow: row wrap;
  line-height: 35px;
  justify-content: space-between;
  white-space: nowrap;
  width: 450px;
  min-width: 100px;
  min-height: 50px;
}
.header__subtitles__subtitle {
  margin-right: 2px;
  font-size: 20px;
  font-family: "Consolas";
  position: relative;
  color: #1c1c1c;
}
.header__subtitles__subtitle__glitch-violet {
  position: absolute;
  left: 0;
  top: 0;
  color: #FA0FFF;
  z-index: 1;
}
.header__subtitles__subtitle__glitch-black {
  position: relative;
  left: -2px;
  top: 0;
  color: #1c1c1c;
  z-index: 2;
}
.header__subtitles__subtitle__glitch-blue {
  position: absolute;
  left: 2px;
  top: 0;
  color: #35CFFF;
  z-index: 1;
}
@keyframes GlitchText {
  0% {
    visibility: visible;
  }
  50% {
    visibility: visible;
  }
  51% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}
@keyframes ConsoleCursor {
  0% {
    visibility: visible;
  }
  50% {
    visibility: visible;
  }
  51% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}
.header-back {
  max-width: 1200px;
  min-width: 512px;
  width: 100%;
  height: 150px;
  padding-top: 30px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.header-back__back {
  height: max-content;
  cursor: pointer;
  font-size: 55px;
  transition: color 100ms ease;
}
.header-back__back:hover {
  color: #0F7DFF;
}
.header-back__back:hover {
  color: #0070f5;
}
.header-back__title {
  font-size: 35px;
  font-family: "Consolas";
  display: flex;
  flex-flow: row nowrap;
  justify-content: end;
  position: relative;
  margin-right: 40px;
}
.header-back__title:after {
  content: '';
  position: absolute;
  width: 30px;
  height: 4px;
  background-color: #1c1c1c;
  bottom: 0px;
  right: -39px;
  animation: 2s linear 0s infinite ConsoleCursor;
}
@media (max-width: 1024px) {
  .header {
    justify-content: center;
    margin: 0;
    height: 100px;
  }
  .header__title {
    font-size: 27px;
  }
  .header__title:after {
    display: none;
  }
  .header__links {
    font-size: 12px;
  }
  .header__subtitles {
    white-space: nowrap;
    width: 100%;
    display: flex;
    justify-content: left;
  }
  .header__subtitles__subtitle {
    font-size: 14px;
  }
}
.main-nav {
  max-width: 1024px;
}
.main-nav__links {
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  font-family: "Cousine-Regular", sans-serif;
  font-size: 20px;
  margin-bottom: -2px;
}
.main-nav__links__link {
  box-sizing: border-box;
  display: block;
  border: 3px solid #0F7DFF;
  padding: 0.3em;
  position: relative;
}
.main-nav__links__link.selected {
  background-color: #0F7DFF;
  color: white;
}
.main-nav-brurger {
  display: block;
}
@media (max-width: 512px) {
  .main-nav {
    display: none;
  }
  .main-nav-brurger {
    display: block;
  }
  .main-nav-brurger__links {
    display: flex;
    justify-content: space-between;
    max-width: 400px;
    font-family: "Cousine-Regular", sans-serif;
    font-size: 20px;
    margin-bottom: -2px;
  }
  .main-nav-brurger__links__link {
    box-sizing: border-box;
    display: block;
    border: 3px solid #0F7DFF;
    padding: 0.3em;
    position: relative;
  }
  .main-nav-brurger__links__link.selected {
    background-color: #0F7DFF;
    color: white;
  }
}
.sidebar {
  width: 300px;
  display: block;
}
.sidebar__filter {
  display: flex;
  align-items: start;
  flex-flow: column;
  padding-left: 10px;
}
.sidebar__filter__item:not(:first-child) {
  margin-top: 10px;
}
.sidebar__links {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  font-family: "Cousine-Regular";
  font-size: 21px;
}
.sidebar__links__link {
  line-height: 45px;
  padding-left: 30px;
}
.sidebar__links__link.selected {
  background-color: #0F7DFF;
  color: white;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
}
@media (max-width: 1024px) {
  .sidebar {
    display: none;
  }
}
.markdown {
  width: 100%;
  font-family: "Cousine-Bold";
  padding: 10px 10px 10px 0;
}
.markdown h1 {
  line-height: 60px;
  font-size: 32px;
  margin-left: 26px;
  font-weight: 800;
  position: relative;
  color: #1c1c1c;
}
.markdown h1::before {
  content: '';
  position: absolute;
  top: -2px;
  width: 9px;
  height: 100%;
  left: -25px;
  background: linear-gradient(to right, #0F7DFF, #35CFFF);
}
.markdown hr {
  margin: 30px 0;
  color: transparent;
  border-bottom: 2px dashed #0F7DFF;
}
.markdown h2 {
  line-height: 70px;
  font-size: 22px;
  font-weight: 800;
  position: relative;
}
.markdown p {
  font-family: "Cousine-Regular";
  line-height: 25px;
  font-size: 15px;
  font-weight: 100;
  position: relative;
}
.markdown ol,
.markdown ul {
  font-family: "Cousine-Regular";
  margin: 20px 0;
  padding: 0 0 0 50px;
}
.markdown ol li,
.markdown ul li {
  line-height: 32px;
  font-size: 17px;
  font-weight: 100;
  position: relative;
}
.markdown blockquote {
  width: 100%;
  position: relative;
  margin: 20px 0;
  padding: 10px 20px;
  background-color: #f5f5f5;
}
.markdown blockquote::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 6px;
  height: 100%;
  background-color: #ebebeb;
}
.article-link {
  display: block;
  width: 100%;
  font-family: "Cousine-Regular";
  font-size: 25px;
  background-color: #f5f5f5;
  padding: 10px;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
  transition: transform 200ms ease, box-shadow 200ms ease, background-color 100ms ease;
  cursor: pointer;
}
.article-link__title {
  line-height: 40px;
  font-family: "Cousine-Bold";
}
.article-link__text {
  font-size: 19px;
}
.article-link + .article-link {
  margin-top: 20px;
}
.article-link:active {
  box-shadow: none;
  transform: translateY(10%);
}
.article-link:hover {
  background-color: #ebebeb;
}
.project {
  width: 320px;
  height: 200px;
  background-color: #f5f5f5;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Cousine-Regular";
  padding: 9px;
  position: relative;
  transition: transform 200ms ease, box-shadow 200ms ease;
  cursor: pointer;
}
.project:active {
  box-shadow: none;
  transform: translateY(5%);
}
.project__title {
  font-family: "Cousine-Bold";
  color: #0F7DFF;
  font-size: 22px;
}
.project__lvl {
  color: #838383;
  margin-top: 10px;
}
.project__text {
  margin-top: 10px;
  line-height: 24px;
}
.project__tags {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 100%;
  display: flex;
  padding: 0 10px;
}
.project__tags__tag {
  text-align: center;
  display: block;
  height: 30px;
  padding: 5px;
  background-color: #1c1c1c;
  color: white;
  min-width: 40px;
  border-radius: 20px;
}
.project__tags__tag + .project__tags__tag {
  margin-left: 10px;
}
.combobox {
  width: auto;
  position: relative;
  border: 2px solid #1c1c1c;
  height: 30px;
  cursor: pointer;
}
.combobox__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  padding: 3px 5px;
  height: 100%;
  width: 100%;
}
.combobox__info__text {
  width: auto;
  font-size: 16px;
}
.combobox__info__arrow {
  font-size: 20px;
}
.combobox.w-3 {
  width: 200px;
}
.combobox__items {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
}
.combobox__items.disabled {
  display: none;
}
.combobox__items__item {
  display: block;
  padding: 6px 5px;
  width: 100%;
  height: 30px;
}
.combobox__items__item:hover {
  background-color: #1c1c1c;
  color: white;
}
.form-container {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}
.admin-login-form {
  font-family: "Cousine-Regular";
  display: flex;
  flex-flow: column nowrap;
  width: 390px;
  border-radius: 5px;
  padding: 20px 30px ;
  background-color: #f5f5f5;
  border: 1px solid #838383;
}
.admin-login-form__input {
  font-size: 16px;
  width: 100%;
  height: 30px;
  margin: 0 auto;
  padding: 0 5px;
  outline: none;
}
.admin-login-form__input + .admin-login-form__input {
  margin-top: 20px;
}
.admin-login-form__input:required {
  box-shadow: none;
}
.admin-login-form__input:invalid {
  box-shadow: none;
  border: 2px solid #c5113e;
}
.admin-login-form__label {
  line-height: 45px;
  font-size: 17px;
}
.admin-login-form__submit {
  margin-top: 20px;
  align-self: end;
}
.admin-login-form__error {
  padding-top: 10px;
  color: #c5113e;
  font-size: 14px;
}
.admin-nav {
  width: 100%;
  display: flex;
  border-bottom: 2px solid #1c1c1c;
  align-items: center;
  justify-content: space-between;
  height: 55px;
}
.admin-nav__links {
  display: flex;
  font-size: 18px;
  height: 100%;
  margin-bottom: -5px;
}
.admin-nav__links__link {
  transition: background-color 100ms ease;
  cursor: pointer;
  line-height: 45px;
  padding: 0 20px;
  align-self: center;
}
.admin-nav__links__link.selected {
  border-bottom: 4px solid #0F7DFF;
}
.admin-nav__links__link:hover {
  background-color: #f5f5f5;
}
.admin-nav__tools {
  display: flex;
  justify-content: space-between;
  justify-self: end;
  width: 400px;
}
.search-panel {
  height: 35px;
  box-sizing: border-box;
  display: flex;
}
.search-panel__input {
  font-size: 16px;
  box-sizing: border-box;
  width: 200px;
  height: 100%;
  border: 2px solid #1c1c1c;
  padding-left: 7px;
  border-right: 0;
}
.search-panel__btn {
  display: block;
  width: 35px;
  height: 100%;
  border: 2px solid #1c1c1c;
  background-color: #0F7DFF;
  color: white;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
  padding-top: 8px;
  user-select: none;
  cursor: pointer;
  transition: box-shadow 40ms ease;
}
.search-panel__btn:hover {
  background: #0070f5;
}
.search-panel__btn:active {
  box-shadow: inset 1px 4px 4px rgba(0, 0, 0, 0.15);
}
.admin-content {
  width: 100%;
  padding-top: 20px;
}
.admin-article-link {
  width: 100%;
  display: flex;
}
.admin-article-link__link {
  width: 100%;
  height: 100%;
  position: relative;
  font-family: "Cousine-Regular";
  font-size: 25px;
  background-color: #f5f5f5;
  padding: 10px;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
  transition: transform 200ms ease, box-shadow 200ms ease, background-color 100ms ease;
  cursor: pointer;
}
.admin-article-link__link__title {
  line-height: 40px;
  font-family: "Cousine-Bold";
}
.admin-article-link__link__text {
  font-size: 19px;
}
.admin-article-link__link:active {
  box-shadow: none;
  transform: translateY(10%);
}
.admin-article-link__link:hover {
  background-color: #ebebeb;
}
.admin-article-link__delete {
  width: 60px;
  height: auto;
}
.admin-article-link__delete__btn {
  background-color: transparent;
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #838383;
  border: 0;
}
.admin-article-link__delete__btn i {
  font-size: 25px;
}
.admin-article-link__delete__btn:hover {
  color: #c5113e;
}
.admin-article-link__delete__btn:active {
  color: #0070f5;
}
.admin-article-link + .admin-article-link {
  margin-top: 20px;
}
.editor-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.raw-content-box {
  width: 450px;
  font-size: 18px;
}
.raw-content-box__tools {
  display: flex;
  height: 50px;
  width: 100%;
  justify-content: space-between;
}
.raw-content-box__tools__left {
  display: flex;
}
.raw-content-box__tools__left__save-btn .btn {
  font-size: 25px;
  width: 70px;
  height: 35px;
}
.raw-content-box__tools__right {
  display: flex;
}
.raw-content-box__tools__right__change-btn .btn {
  font-size: 17px;
  width: 35px;
  height: 35px;
}
.raw-content-box__tools__right__change-btn + .raw-content-box__tools__right__change-btn {
  margin-left: 10px;
}
.raw-content-box__textarea {
  padding: 10px;
  border: 2px solid #1c1c1c;
  width: 100%;
  height: 400px;
  min-height: 400px;
  max-width: 100%;
}
.raw-content-box__label {
  width: 100%;
  line-height: 50px;
}
.raw-content-box__description {
  height: 200px;
}
.raw-content-box__description__label {
  width: 100%;
  line-height: 40px;
}
.raw-content-box__description__title {
  height: 30px;
  width: 100%;
  font-size: 18px;
  padding: 4px;
  border: 2px solid #1c1c1c;
}
.raw-content-box__description__text {
  padding: 4px;
  border: 2px solid #1c1c1c;
  width: 100%;
  max-height: 80px;
  height: 80px;
  resize: none;
}
.result-content-box__tools {
  display: flex;
  height: 50px;
  justify-content: end;
}
.result-content-box__tools__refresh-btn .btn {
  font-size: 16px;
  width: 55px;
  height: 35px;
}
.result-content-box__content {
  min-height: 400px;
  padding: 10px;
  width: 700px;
  border: 3px dashed #0F7DFF;
  margin-top: 50px;
}
.result-content-box__article {
  min-height: 200px;
  padding: 10px;
  width: 700px;
  border: 3px dashed #0F7DFF;
}
.container {
  max-width: 1144px;
  margin: auto;
}
.container__body__content {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
.content {
  width: 100%;
  padding: 25px 25px 25px 0;
  border-right: 3px solid #0F7DFF;
  border-top: 3px solid #0F7DFF;
}
.content__project {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
